@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    background-color: #CDE0E0;
    align-items: center;
  }

header img {
  width: 200px;
  height: auto;
  box-shadow: 0 0 20px black;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  align-items: center;
}

h1 {
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
  font-size: 1.5rem;
  margin: 0.15rem;
  color: #254128;
  text-align: center;
}

h2 {
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
  font-size: 1rem;
  margin-bottom: 0.5rem;
} 

header, nav, main, footer {
  margin: 0 auto;
  padding: 0.75rem;
  max-width: 45rem;
}

footer {
  background-color: #CDE0E0;
  grid-template-columns: 100px 1fr;
}

#lastModified {
  text-align: center;
}

.footer-paragraph1 {
  text-align: center;
}

.footer-paragraph2 {
  text-align: center;
}
