@media only screen and (min-width: 60em) {
    
    body {
        max-width: 1020px;
        margin: auto;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    main {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr, 1fr));
        max-width: 960px;
    }

    .contrast {
        grid-column: 1/2;
    }

    .white-space {
        grid-column: 2/3;
    }

    .repetition {
        grid-column: 3/4;
    }
}