@media only screen and (min-width: 32.5em) {
    
    body {
        max-width: 690px;
        margin: auto;
    }
   
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        align-items: center;
    }

    .contrast {
        grid-column: 1/2;
    }

    .white-space {
        grid-column: 2/3;
    }

    .repetition {
        grid-column: 1/3;
    }
}