h1 h2 h3 h4 p {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f0fafc;
}

header {
    background-color: #049FB2;
    border-radius: 25px;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    margin: 0.15rem;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 1rem;
    margin: 0.5rem;
}

h3 {
    background-color: #21003f;
    color: white;
    text-align: center;
    padding: 1em;
}

h4 {
    padding: 1em;
}

main {
    background-color: white;
}

footer {
    background-color: #CDE0E0;
    grid-template-columns: 100px 1fr;
    border-radius: 25px;
  }
  
  #lastModified {
    text-align: center;
  }
  
  .footer-paragraph1 {
    text-align: center;
  }
  
  .footer-paragraph2 {
    text-align: center;
  }

header, main, footer {
    margin: 0 auto;
    padding: 0.75rem;
  }

.contrast {
    border-radius: 25px;
    padding: 1em;
}

.white-space {
    border-radius: 25px;
    padding: 1em;
}

.repetition {
    border-radius: 25px;
    padding: 1em;
}
