h1, h2, h3, h4 {
    font-family: 'Satisfy', cursive;
    text-align: center;
}

p {
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    padding-top: 20px;
}

ul li {
    font-family: 'ABeeZee', sans-serif;
}

img {
    width: 100%;
}

h2 {
    font-size: 35px;
    color: #3e592a;
}

/* Header */

.heading-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}


.header-img {
    grid-column: 1/11;
    grid-row: 1/4;
}

h1 {
    font-size: 40px;
    color: white;
    text-shadow: 5px 5px 15px #3e592a, -5px -5px 15px #3e592a;
    text-align: center;
    grid-column: 1/11;
    grid-row: 1/2;
}

.book-now-button {
    border-radius: 25px;
    padding:10px;
    background-color: transparent;
    text-shadow: 5px 5px 15px #3e592a, -5px -5px 15px #3e592a;
    grid-column: 4/8;
    grid-row: 2/3;
    max-height: 50px;
    border-color: white;
}

.book-now-button a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.book-now-button:hover {
    background-color: black;
    filter: drop-shadow(5px 5px 15px black);
    transition: ease-in-out 0.2s;
    border-color: black;
    text-shadow: 2px 2px 30px white, -2px -2px 30px white;
}

.heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
}

.temple-inn-logo {
    width: 120px;
    height: auto;
    padding-left: 20px;
}

nav ul#primaryNav{
    padding-top: 50px;
  }

nav {
    text-align: right; 
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: none;
}
  
nav ul.open {
    display: block;
}
  
nav ul li a {
    font-family: 'ABeeZee', sans-serif;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: .70rem;
    font-size: 1.0rem;
    color: black;
}
  
nav button {
      margin: .2re 2vw;
      background: transparent;
      border: none;
      font-size: 4rem;
      color: black;
}

nav ul li a:hover {
        background-color: #3e592a;
        color: white;
        border-radius: 50px;
        transition: ease-in-out 0.2s;
}

.services:hover .sub-menu {
    display: block;
}

#primaryNav li:hover .sub-menu ul {
    display:block;
    margin: 10px;
}

#primaryNav li:hover .sub-menu ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
}

#primaryNav li:hover .sub-menu ul li:last-child {
    border-bottom: none;
}

#primaryNav li:hover .sub-menu ul li:hover {
    color: #3e592a;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* Main */

.main-paragraph {
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 15px white);
    background-color: rgb(216, 221, 216);
    padding-right: 10px;
    padding-left: 10px;
}
.tpl-ot-mo-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.slc-tpl-img {
    grid-column: 1/2;
    grid-row: 1/3;
    filter: drop-shadow(5px 5px 15px black);
    border-radius: 20px;
}

.tpl-ot-mo-grid h3{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    font-size: 26px;
    text-shadow: 5px 5px 15px white, -5px -5px 15px white;
}

.weather-img {
    filter: drop-shadow(5px 5px 15px black);
    border-radius: 20px;
}

.contact-img {
    filter: drop-shadow(5px 5px 15px black);
    border-radius: 20px;
}

/* Footer */
.facebook, .instagram {
    width: 69px;
    height: auto;
    display: block;
}

.social {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#lastModified {
    text-align: center;
}

/* Temple Page */


.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	align-items: center;
    grid-gap: 2px;
}

section {
	padding: 20px;
}

.cards img {
    filter: drop-shadow(5px 5px 15px black);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20px;
 }

 /* Reservation */


 form fieldset {
    margin: 2rem 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: .5rem 2%;
  }
  
  form legend {
    color: #2A2F33;
    margin: 0 1rem;
    padding: 0 .5rem;
  }
  
  form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #2A2F33;
    font-size: .8rem;
  }
  
  form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #d0d5da;
    border-radius: 4px;
    padding:.75rem;
    color: #2A2F33;
    width: 90%;
    max-width: 25rem;
    background-color: rgb(216, 221, 216);
  }
  
  form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #2A2F33;
  }
  
  form input.submitBtn {
    border: white;
    background-color: black;
    color: white;
    border-radius: 2rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 15rem;
    font-size: 1rem;
  }
  
  form label.top input:required {
    border-right: red solid 3px;
  }
  
  form label.top input:required:valid {
    border-right: green solid 3px;
  }

  #bdescription {
    display: block;
    padding: .75rem 0;
    width: 90%;
    max-width: 20rem;
  }

  #bdescription textarea {
    background-color: rgb(216, 221, 216);
    min-width: 20rem;
  }

.services-img, .amenities-img, .reception-img, .temple-missionary-img {
    filter: drop-shadow(5px 5px 15px black);
    border-radius: 20px;
}

.reception-paragraph {
    text-decoration: none;
    color: black;
 }
 
 .link {
    text-decoration: none;
    color: black;
 }

 /* Reception Page */

 .decor-img, .food-img, .photography-img, .photobooth-img {
    filter: drop-shadow(5px 5px 15px black);
    border-radius: 20px;
 }

 /* Missionary Page */

 .full-img, .double-full-img, .queen-img, .double-queen-img, .king-img {
    filter: drop-shadow(5px 5px 15px black);
    border-radius: 20px;
 }
