h1 h2 h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #8C8C9C;
}

.heading {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px solid #2A2F33;
}

.bee-icon {
    width: 60px;
    height: auto;
}


nav {
  background-color: #2A2F33;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li a {
  font-family: 'Roboto Condensed', sans-serif;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: .70rem;
  font-size: 1.0rem;
  color: #BBB6A5;
}

nav a:hover {
  background-color: #BBB6A5;
  color: #2A2F33;
}

h1 {
    color: #2A2F33;
    font-size: 1.5rem;
    margin: 0.15rem;
}

h2 {
    color: #2A2F33;
    font-size: 1rem;
    margin: 0.5rem;
}

h3 {
    color: #2A2F33;
    padding: 1em;
}

main {
    background-color: white;
}

.description {
    border: 1px solid #333333;
    background-color: #BBB6A5;
    padding: 0.75rem;
    margin: 0.5rem;
}

.discover {
    border: 1px solid #333333;
    background-color: #BBB6A5;
    padding: 0.75rem;
    margin: 0.5rem;
}

.events {
    border: 1px solid #333333;
    background-color: #BBB6A5;
    padding: 0.75rem;
    margin: 0.5rem;
}

.support-donate {
    border: 1px solid #333333;
    background-color: #BBB6A5;
    padding: 0.75rem;
    margin: 0.5rem;
}

.spotlights {
    border: 1px solid #333333;
    background-color: #BBB6A5;
    padding: 0.75rem;
    margin: 0.5rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 5px solid #2A2F33;
  }

header, main, footer {
    margin: 0 auto;
    padding: 0.75rem;
  }