h1 { 
    font-family: 'Roboto Condensed', sans-serif;
}

h2 { 
    font-family: 'Roboto Condensed', sans-serif;
}

h3 { 
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #d0d5da;
}

.heading {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px solid #2A2F33;
}

.bee-icon {
    width: 60px;
    height: auto;
}


nav {
  background-color: #2A2F33;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: none;
}

nav ul.open {
    display: block;
  }

nav ul li a {
  font-family: 'Roboto Condensed', sans-serif;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: .70rem;
  font-size: 1.0rem;
  color: #ece9df;
}

nav button {
    margin: .2re 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #ece9df;
  }

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

nav ul li a:hover {
  background-color: #ece9df;
  color: #2A2F33;
}

h1 {
    color: #2A2F33;
    font-size: 1.5rem;
    margin: 0.15rem;
}

#banner {
    text-align: center;
    border: 5px solid #2A2F33;
    background-color: white;
    display: none;
}

h2 {
    color: #2A2F33;
    font-size: 1rem;
    margin: 0.5rem;
}

h3 {
    color: #2A2F33;
    padding: 1em;
}

main {
    background-color: white;
    border: 5px solid #2A2F33;
}

.description {
    border: 1px solid #333333;
    background-color: #d0d5da;
    padding: 0.75rem;
    margin: 0.5rem;
    box-shadow: 3px 3px 9px rgb(54, 54, 54);
    text-align: center;
}

.hero-img {
    max-width: 100%;
    box-shadow: 3px 3px 9px rgb(54, 54, 54);
    border: 1px solid #333333;
    align-items: center;
}

.description-img {
    max-width: 100%;
    box-shadow: 3px 3px 9px rgb(54, 54, 54);
    border: 1px solid #333333;
    align-items: center;
}

.discover {
    border: 1px solid #333333;
    background-color: #d0d5da;
    padding: 0.75rem;
    margin: 0.5rem;
    box-shadow: 3px 3px 9px rgb(54, 54, 54);
    text-align: center;
}

.discover-img {
    max-width: 100%;
    box-shadow: 3px 3px 9px rgb(54, 54, 54);
    border: 1px solid #333333;
}

.events {
    border: 1px solid #333333;
    background-color: #d0d5da;
    padding: 0.75rem;
    margin: 0.5rem;
    box-shadow: 3px 3px 9px rgb(54, 54, 54);
    text-align: center;
}

.events-img {
    max-width: 100%;
    box-shadow: 3px 3px 9px rgb(54, 54, 54);
    border: 1px solid #333333;
}

.support-donate {
    border: 1px solid #333333;
    background-color: #d0d5da;
    padding: 0.75rem;
    margin: 0.5rem;
    box-shadow: 3px 3px 9px rgb(54, 54, 54);
    text-align: center;
}

.support-donate-img {
    max-width: 100%;
    box-shadow: 3px 3px 9px rgb(54, 54, 54);
    border: 1px solid #333333;
}

.spotlight {
    border: 1px solid #333333;
    background-color: #d0d5da;
    padding: 0.75rem;
    margin: 0.5rem;
    box-shadow: 3px 3px 9px rgb(54, 54, 54);
    text-align: center;
}

.spotlight-img {
    max-width: 100%;
    box-shadow: 3px 3px 9px rgb(54, 54, 54);
    border: 1px solid #333333;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 5px solid #2A2F33;
  }

header, main, footer {
    margin: 0 auto;
    padding: 0.75rem;
  }