@media only screen and (min-width: 60em) {
    
    .bee-icon {
        width: 100px;
    }

    body {
        max-width: 1020px;
        margin: auto;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    nav button {
        display: none;
    }

    nav ul#primaryNav{
        display: flex;
        margin-left: 2vw;
        justify-content: center;
      }

    nav ul li a {
		font-size: 1.5rem;
        padding: .5rem 1rem;
	}

    .main-home {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }

    .description {
        grid-column: 1/4;
    }

    .hero-img {
        grid-column: 1/4;
    }

    .description-img {
        grid-column: 1/4;
    }

    .discover {
        grid-column: 1/2;
    }

    .discover-img {
        grid-column: 1/2;
    }

    .events {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .events-img {
        grid-column: 2/3;
    }

    .support-donate {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    .support-donate-img {
        grid-column: 3/4;
    }

    .spotlight {
        grid-column: 1/4;
    }

    .spotlight-img {
        grid-column: 1/4;
    }

    .weather-section {
        grid-column: 1/3;
    }

    .news {
        grid-column: 3/4;
    }

    /* Discover Page */
    .main-discover {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    #ogden-sign-image {
        grid-column: 1/2;
    }

    .ogden-sign-paragraph {
        grid-column: 2/3;
        font-size: 30px;
    }

    #ogden-temple-image {
        grid-column: 2/3;
    }

    .ogden-temple-paragraph {
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: 30px;
    }

    #ogden-horse-image {
        grid-column: 1/2;
    }

    .ogden-horse-paragraph {
        grid-column: 2/3;
        font-size: 30px;
    }

    #ogden-building-image {
        grid-column: 2/3;
    }

    .ogden-building-paragraph {
        grid-column: 1/2;
        grid-row: 4/5;
        font-size: 30px;
    }

    #ogden-waterfall-image {
        grid-column: 1/2;
    }

    .ogden-waterfall-paragraph {
        grid-column: 2/3;
        font-size: 30px;
    }

    .user-visits {
        grid-column: 1/2;
    }

    .last-visit {
        grid-column: 2/3;
    }

}

/* Join Page */
form label.sbs {
    padding: 2rem 0;
}

