@media only screen and (min-width: 37.5em) {
    
    .bee-icon {
        width: 80px;
    }

    body {
        max-width: 690px;
        margin: auto;
    }
   
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
    }

    #ogden-sign-image:hover {
        border: 5px solid #333333;
    }
    
    #ogden-temple-image:hover {
        border: 5px solid #333333;
    }
    
    #ogden-horse-image:hover {
        border: 5px solid #333333;
    }
    
    #ogden-building-image:hover {
        border: 5px solid #333333;
    }
    
    #ogden-waterfall-image:hover {
        border: 5px solid #333333;
    }

    #ogden-sign-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;

    }
    
    #ogden-temple-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    #ogden-horse-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    #ogden-building-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    #ogden-waterfall-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

}