h1, h2, h3, h4 {
    font-family: 'Satisfy', cursive;
}

p {
    font-family: 'ABeeZee', sans-serif;
}

img {
    width: 100%;
}

header {
    padding-left: 1.5em;
}

.temple-inn-logo {
    width: 160px;
    display: block;
}

.menu li {
    list-style: none;
}

.menu li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1em 1.5em;
    font-size: 1.5rem;
}

.has-dropdown {
    position: relative;
}

.submenu {
    display: absolute;
    left: 0;
    white-space: nowrap;
    padding: 1.5em 0;
    transform: scaleY(0);
    transform-origin: top center;
    opacity: 0;
}

.submenu > li > a {
    padding : 0.5em 1.5em;
}

.menu > li:hover>a, .submenu > li:hover > a {
    background-color: #3e592a;
    color: white;
    border-radius: 40px;
}

.menu > li:hover > a + .submenu {
    opacity: 1;
    transform: scaleY(1);
}

/*.heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: fixed;
}

.temple-inn-logo {
    width: 120px;
    height: auto;
}

nav ul#primaryNav{
    padding-top: 50px;
  }

nav {
    text-align: right; 
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: none;
}
  
nav ul.open {
    display: block;
}
  
nav ul li a {
    font-family: 'ABeeZee', sans-serif;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: .70rem;
    font-size: 1.0rem;
    color: black;
}
  
nav button {
      margin: .2re 2vw;
      background: transparent;
      border: none;
      font-size: 4rem;
      color: black;
}

nav ul li a:hover {
        background-color: #3e592a;
        color: white;
        border-radius: 50px;
}



.services:hover .sub-menu {
    display: block;
}

#primaryNav li:hover .sub-menu ul {
    display:block;
    margin: 10px;
}

#primaryNav li:hover .sub-menu ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

#primaryNav li:hover .sub-menu ul li:last-child {
    border-bottom: none;
}

#primaryNav li:hover .sub-menu ul li:hover {
    color: #3e592a;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}
*/