@media only screen and (min-width: 37.5em) {
    
    body {
        max-width: 690px;
        margin: auto;
    }
   
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    nav ul {
      display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
      }
}